.search {
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 12px;
    /* margin-bottom: 5px; */
  }
  
  .search > input {
    width: 100%;
    border-color: var(--border-color);
    margin-bottom: 1px;
    border: 0;
    outline: none;
  }
  